<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-content">
      <h3>Micro dosing</h3> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolore optio quis officia suscipit itaque consequuntur, at similique nisi voluptatem reprehenderit repudiandae repellendus perspiciatis, quae, inventore fugiat.</p> 
      <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl}}">via RSS</a></p>
    </div>

<div class="footer-social">
  <ul>
    <li><a href="http://www.twitter.com{{ site.twitter_username }}"><img src="{{ site.baseurl }}images/twitter.png" width="40px"></a></li>
    <li><a href="http://www.twitter.com{{ site.github_username }}"><img src="{{ site.baseurl }}images/github.png" width="40px"></a></li>
    <li><a href="http://www.twitter.com{{ site.google_username }}"><img src="{{ site.baseurl }}images/google.png" width="40px"></a></li>
  </ul>
</div>


  </div>

</footer>
